
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a routerLink="./main" class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
            <a routerLink="./main"  class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li routerLinkActive="router-link-active" class="nav-item">
            <a routerLink="./product-listing" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
            <a routerLink="./support" class="nav-link" tabindex="-1" aria-disabled="true">Support</a>
        </li>
        </ul>


        <ul class="navbar-nav ml-auto">
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            <li class="nav-item dropdown ">
                <!--
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                (click)="toggleAccount()">
                    <i class="fa fa-user mr-3" style="font-size:24px"></i>  Account</a>
                -->
                <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                (click)="toggleAccount()">
                    <i class="fa fa-user mr-3" style="font-size:24px"></i>  
                    Account
                    <i class="fa fa-angle-{{showAccountDropdown?'up':'down'}}"></i>
                </a>
                <div class="dropdown-menu bg-light"
                style="display:block !important"
                *ngIf="showAccountDropdown">
                    <a class="dropdown-item" routerLink="./signin">Log In</a>
                    <a class="dropdown-item" routerLink="./signup">Sign Up</a>
                </div>
            </li>
        </ul>
     
    </div>
  </nav>
  
 