<!-- Footer -->
<footer class="page-footer font-small unique-color-dark card-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>This demo is an ecommerce template built on top of angular version 10.1.4, bootstrap version 4, typescript version 4.0.3 </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">About company</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="./aboutus">About Us</a>
        </p>
        <p>
          <a routerLink="./career">Career</a>
        </p>
        <p>
          <a routerLink="./policy">Policies</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Customer Service</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="./howtobuy">How to Buy</a>
        </p>
        <p>
          <a routerLink="./return-refund">Return & Refund</a>
        </p>
        <p>
          <a routerLink="./shop-guarantee">Shopping Guarantee</a>
        </p>
        <p>
          <a routerLink="./help">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Damansara Damai 47830, MY</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> yinyin.khoo21@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +60 18 2019866</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ecommerce-yy21.firebaseapp.com/"> Khoo Yin Yin</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->