
<br/><br/>
<div class="container">
    <div class="row">
            <div class="support-frontpage support-border col-lg-12">
                <div class="logo mb-3">
                    <div class="col-md-12">
                    <h1>Support</h1>
                    </div>
                </div>
                    <div class="col-lg-12" style="border-bottom: 1px solid #d7d7d7;">
                        <div class="text-center">
                        <i class="fa fa-life-ring" style="font-size: 64px;margin-bottom:25px;"></i>
                        <h2>Help Desk</h2>
                        <p>Our friendly support staffs would always be able to assist you for any inquiries that you may have.</p>
                        <a class="btn btn-success" href="/forums">Access Help Desk</a>
                        </div>
                        <br/><br/>
                    </div>
                    <br/><br/>
                    <div class="col-lg-12">
                        <div class="text-center">
                        <i class="fa fa-envelope-o" style="font-size: 64px;margin-bottom:25px;"></i>
                        <h2>Contact Us</h2>
                        <p>If you have any other inquiries and you would like to reach out to us via e-mail. You may do so by using the contact us form below.</p>
                        <a class="btn btn-primary" href="/contact">Get In Touch With Us</a>
                        </div>
                    </div>
            </div>
    </div>
</div>

<br/><br/>