/* .support-frontpage{margin-top:20px;background:#fff;padding:20px;margin-bottom:30px;}
.text-center{text-align:center;}
.support-frontpage p{margin:0 auto 30px;}
.support-border{border-bottom:1px solid #d7d7d7;}
 */
