
<br/><br/>
<div class="container" style="min-width: 70vw;">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Category 1</a></li>
                    <li class="list-group-item"><a href="category.html">Category 2</a></li>
                    <li class="list-group-item"><a href="category.html">Category 3</a></li>
                    <li class="list-group-item"><a href="category.html">Category 4</a></li>
                    <li class="list-group-item"><a href="category.html">Category 5</a></li>
                </ul>
            </div>
            <!-- <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                    <h5 class="card-title">Product title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div> -->
        </div>
        <div class="col">
            <div class="row">
                <div *ngFor="let product of products; index as id" class="col-12 col-md-6 col-lg-4 btn">

                    <div role="button" routerLink="/home/product-detail/{{product.id}}">
                        <div class="card mb-4 box-shadow">
                        <!-- Content -->
                        <img src={{product.url}} class="prdimg" role="button"/>
                        <br/>
                        <h6 class="text-uppercase font-weight-bold">{{product.name}}</h6>
                        <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
                        <p>{{product.description}}</p>
                        <p>RM {{product.price}}</p>
                        <button type="button" class="btn btn-outline-secondary">Add to Cart</button>
                        </div> 
                    </div>       
                </div>
        
                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>                    
            </div>
        </div>
    
    </div>
</div>


<!--2.Top part sorting and search for product-->
<!-- <div class="ml-auto container" style="min-width: 70vw;">
    <div class="row" >top filter & sorting
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (change)="changeSearch()">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div> -->

<!-- <div class="d-flex justify-content-between"> -->

<!--1.Left Hand Side Filtering-->
<!-- <div class="mr-auto container" style="min-width: 30vw;">left hand side</div> -->
<!-- <div class="container">
    <a class="category-list__header">All Categories</a>
    <div class="list-group">
        <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">First List Group Item Heading</h4>
        <p class="list-group-item-text">List Group Item Text</p>
        </a>
        <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Second List Group Item Heading</h4>
        <p class="list-group-item-text">List Group Item Text</p>
        </a>
        <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Third List Group Item Heading</h4>
        <p class="list-group-item-text">List Group Item Text</p>
        </a>
    </div>
</div> -->

<!--3.Product Listing-->
<!-- <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
        <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="row">
                <div class="col">
                    <p class="btn btn-danger btn-block">99.00 $</p>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="ml-auto container" style="min-width: 70vw;">
        <div class="row" >
            <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="card mb-4 box-shadow">
                <img src={{product.url}} clsas="prdimg"/>
                <h6 class="text-uppercase font-weight-bold">{{product.name}}</h6>
                <p>{{product.description}}</p>
                <button type="button" class="btn btn-outline-secondary">Add to Cart</button>
                </div>        
            </div>
            </div>
    </div> -->


<!-- </div> -->